{% extends "base.html" %}

{% block title %}Submit Feedback - {% endblock %}

{% block header %}
    <h2>Give Us Your Feedback</h2>
{% endblock %}

{% block content %}
    <div class="feedback-container">
        <form class="feedback-form" action="{{ url_for('email.send_feedback') }}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="feedback">Your Feedback:</label>
                <textarea id="feedback" name="feedback" rows="5" required></textarea>
            </div>
            <button type="submit" class="action-button">Submit Feedback</button>
        </form>
    </div>
{% endblock %}