{% extends 'base.html' %}
{% block header %}
<h1>Cut Your Clinical Documentation Time to Less Than 5 Minutes</h1>
{% endblock %}
{% block content %}
<section id="features">
    <h2>AI-Powered Clinical Note Generation</h2>
    <div class="card-grid">
        <div class="card">
            <p><strong>Create Notes Effortlessly:</strong> Finished your patient review? Just talk into the microphone. No
                need to worry about ordering your thoughts, typing, spelling, or grammar. Simply dictate your notes and let our AI proofread, organize, and
                structure them.</p>
        </div>
        <div class="card">
            <p><strong>Customize Your Templates:</strong> Choose from our pre-made templates or create your own by
                specifying the sections you want in your notes.</p>
        </div>
        <div class="card">
            <p><strong>Generate Versatile Outputs:</strong> Transform the same recording into various note types: SBAR notes, GP
                letters, or patient-friendly letters free of medical jargon.</p>
        </div>
        <div class="card">
            <p><strong>Adapt it to Your Role:</strong> Whether you're a doctor, nurse, occupational therapist,
                physiotherapist, psychologist, or pharmacist, you can shape the notes to fit your specific output needs.
            </p>
        </div>
    </div>
</section>

<section id="how-it-works">
    <h2>How WriteMyNotes works?</h2>
    <h3>Surprisingly Easy: </h3>
    <div class="card-grid">
        <div class="card">
            <img src="{{ url_for('static', filename='images/wmn_p1_gif.gif') }}" alt="Recording notes" class="card-gif">
            <p><strong>1- Record</strong> Press record to dictate your notes.</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/wmn_p2_gif.gif') }}" alt="Choosing template" class="card-gif">
            <p><strong>2- Choose template</strong> Choose from pre-defined templates or customize your own.</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/wmn_p3_gif.gif') }}" alt="Output notes" class="card-gif">
            <p><strong>3- Output</strong> Click submit and see your structured notes show up.</p>
        </div>
    </div>
</section>



<section id="try-it-now">
    <p>All subscriptions come with a 7 day free trial period. You will not be charged until the end of the trial period.</p>
    <p>Think of the time you'd gain during busy clinic weeks or on-call days. With WriteMyNotes, you can focus more on
        patient care and less on paperwork.</p>
    <a href="{{ url_for('auth.register') }}" class="nhs-button">Start Your Free Trial</a>
</section>
{% endblock %}