{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="{{ url_for('static', filename='record.js') }}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/recordrtc/RecordRTC.min.js"></script>
<h1 class="page-title">Create Your Note</h1>
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="control-panel">
        <button type="button" id="record-button" class="action-button"> Record <i
                class="fas fa-microphone"></i></button>
        <div id="status"></div>
        <button onclick="document.getElementById('transcription-output').value=''"
            class="action-button secondary">Clear</button>
    </div>

    <div class="transcription-area">
        <textarea id="transcription-output" name="transcription-output"
            placeholder="Your transcription will appear here..."></textarea>
    </div>

    <div class="control-panel" id="mode-selection">
        <button class="action-button" hx-get="/notes/select_mode" hx-target="#mode-selection-output-controls"
            hx-vals='{"mode":"templates"}'>Use
            templates</button>
        <button class="action-button secondary" hx-get="/notes/select_mode" hx-target="#mode-selection-output-controls"
            hx-vals='{"mode":"custom"}'>Create your own</button>
    </div>

    <div id="mode-selection-output-controls"></div>

    <div id="assistant-output" class="assistant-output"></div>
</div>
{% endblock %}